    /* 현재 사용하고 있는 plugin css
        datetimepicker
    */

    @import url(jquery.datetimepicker.css);

    /* 
        Page 공통 ================================================================ 
        모든 컨텐츠 간격은 10px로 동일하게 적용
        border-radius : 5px; > border-radius:4px 로 box안에서 적용되는 border-radius는 -1px 씩 적용한다.
        모든 대시보드는 %로 작업하여 해상도에 따라서 유연하게 작동 가능하게 작업하고,
        혹시 깨지는 부분이 있으면 미디어쿼리를 사용하여 해상도별 디자인 적용가능하게 작업한다.
        
        사이트내에서 사용하는 커러 속성 지정후 각 태그에 적용해서 사용한다.
        현재는 컬러속성 4가지 타입 지정
    */
    /* 이것은 쵝오!! */

    :root {
        --bg-left-menu:linear-gradient(to bottom, #2093d2, #2dc5f4);

        --bg-color-blue: rgb(45, 197, 244, 20%);
        --bg-color-darkblue: rgb(45, 197, 244);
        --bg-color-green: rgb(29, 216, 189, 20%);
        --bg-color-darkgreen: rgb(29, 216, 189);
        --bg-color-yellow: rgb(254, 213, 97, 20%);	
        --bg-color-darkyellow: rgb(254, 213, 97);
        --bg-color-red: rgb(232, 91, 84, 20%);	
        --bg-color-darkred: rgb(232, 91, 84);
        --bg-color-gray: rgb(201, 205, 210, 20%);	
        --bg-color-darkgray: rgb(201, 205, 210);
        --bg-color-white: rgb(255, 255, 255, 20%);	
        --bg-color-lightwhite: rgb(255, 255, 255);	
        --bg-color-even:#f2fafd;
        --bg-color-odd:#dcf2fd;

        --bg-grad-blue:linear-gradient(to right, #1dd8bd, #13a6e8);
        --bg-grad-darkblue:	linear-gradient(to right, #2093d4, #2cc4f3);
        --bg-grad-red:linear-gradient(to right, #ff875e, #ff6da1);
        --bg-grad-green:linear-gradient(to right, #ff875e, #ff6da1);

        --bg-table-thead-color:#c9ccd1;
        --bg-table-thead-sth-color:#dde0e6;
        --bg-table-tbody-sth-color:#e7ebee;	

        --font-color-darkgray: rgb(201, 205, 210);
        --font-color-darkblue: rgb(45, 197, 244);
        --font-color-white: rgb(255, 255, 255);
        
        --border-table-color:#9ea4aa;
        --border-color-blue:#2ac5f5;
        --border-select-gray:#e8e8e8;
        --border-select-arrow:#808282;
        --border-select-items:#f8f8f8;
        
        --bg-body:rgb(17,28,46);
        --bg-header:#192C4F;	
        --bg-data-blue:#00DEFF;		
        --bg-chart:#192C4F;	
        --bg-bar-pkg:#1d3e66;
        
        --chart-blue:rgb(0, 222, 255);
        --chart-blue-opa:rgb(0,222,255,10%);
        --chart-green:rgb(27, 224, 153);
        --chart-green-opa:rgb(27, 224, 153,10%);
        --chart-green_02:rgb(29, 216, 189);
        --chart-blue-opa_02:rgb(29, 216, 189,10%);
        --chart-green_03:rgb(27, 224, 153);
        --chart-red:rgb(230, 46, 91);
        --chart-red-opa:rgb(230, 46, 91,10%);
        --chart-yellow:rgb(255, 218, 0);
        --chart-yellow-opa:rgb(255, 218, 0,10%);

        --chart-darkblue:rgb(29, 62, 102);	
        
        --grid-head:#115D9E;
        --grid-sub:#1E3766;
        --gird-list:#192C4F;
        
        --border-blue:#00DEFF;
        --font-yellow:#FFDA00;
        --font-blue:#00DEFF;
        --font-green:#1be099;
        --font-black:#111C2E;	
        --font-red:#e62e5b;
        --font-white:#ffffff;
    }


    /* tit 속성지정 */
    h1 {
        font-size: 180%;
        font-weight: 600;
        float: left;
        line-height: 1;
        letter-spacing: -0.3rem;
    }

    h2{
        font-size: 150%;
        font-weight: 600;
        margin: 50px 0px 20px;
        color:#2093d4
    }


    h3{
        font-size: 130%;
        font-weight: 600;
    }


    h4, .h4{
        font-size: 120%;
        font-weight: 600;
        display: inline-block;
    }

    /* 스크롤 생성 */
    .wrap {
        width: 100%;
        height: 100%;
        position: relative;
        min-width: 1300px;
        min-height: 800px;
    }

    .leftArea {
        width: 60px;
        height: 100%;
        float: left;
        background-image: var(--bg-left-menu) ;
    }

    .content {
        width: calc(100% - 60px); /* leftMenu영역 빼주기 */
        height: 100%;
        float: right;
        padding: 10px 20px 20px 20px;
        overflow-y: auto;
        /* 그림자 영역확보를 위해 right bottom padding 값 +10px추가
            그림자 없을경우에는 padding:10px 동일하게 적용
        */
    }


    header {
        width: 100%;
        margin-top: 18px;
        padding: 0;
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid #2093d2;
        display: flex;
        align-items: center;
        position: relative;
    }

    header > a {
        position: absolute;
        right: 0px;
    }


    header>.top_icon_menu {
            right: 0;
            position: absolute;
    }

    header>.top_icon_menu>button i+span {
        margin-left: 2px;
        margin-top: -2px;
    }

    header>.top_icon_menu>button {
        font-size: 85%;
    }

    header>.top_icon_menu>button:last-child:after {
        content: '';    
        padding: 0 0 0 10px;
    }

    header>.top_icon_menu>button:after {
        content: '|';
        color: #13a6e8;
        padding: 0 6px 0 10px;
    }

    header>span {
        vertical-align: middle;
        margin-top: 5px;
    }

    .hide {
        display: none;
    }

    .block {
        display: block;
    }

    i, a i {
        width: 0;
        height: 0;
        background-image: url(../../images/daeduck.png);
        background-repeat: no-repeat;
    }


    i>span, a i>span {
        font-size: 0;
    }


    /* leftMenuStart */

    /* menu position */
    .menu li span.hover {
        color: #2cc5f4;
    }

    .menu_bg {
        box-shadow: -0px -10px -0px -0px ebeef0 inset;
        background-color: #fff;
    }


    /* menu i hover  */
    i.i_total {
        width: 50px;
        height: 28px;
        background-position: -960px -10px;
    }

    i.i_total.hover {
        width: 50px;
        height: 28px;
        background-position: -960px -83px;
    }

    i.i_monitoring {
        width: 50px;
        height: 28px;
        background-position: -1022px -10px;
    }

    i.i_monitoring.hover {
        width: 50px;
        height: 28px;
        background-position: -1022px -83px;
    }


    /* leftMenuIcon */

    i.i_user {
        width: 50px;
        height: 38px;
        background-position: -1660px -7px;
    }

    i.blt {
        width: 7px;
        height: 12px;
        background-position: -1660px -75px;
        float: right;
    }


    /* menu i hover  */
    i.i_total {
        width: 50px;
        height: 28px;
        background-position: -960px -10px;
    }

    i.i_total.hover {
        width: 50px;
        height: 28px;
        background-position: -960px -83px;
    }

    /* popup i */

    i.i_close {
        width: 16px;
        height: 16px;
        background-position: -910px -247px;
    }


    .leftArea .menu > li, 
    .leftArea .user {
        font-size: 11px;
    }

    .leftArea>i.logo_small {
        width: 60px;
        height: 30px;
        background-size: 790%;
        background-position: -6px 2px;
        background-color: #fff;
    }

    .leftArea>.user {
        position: absolute;
        bottom: 5px;
        width: 55px;
        height: 50px;
        text-align: center;
        color: #fff;
    }



    .sub_menu {
        position: absolute;
        top: 30px;
        left: 60px;
        width: 280px;
        height: calc(100% - 30px);
        overflow-y:auto;
        background-color: #fff;
        opacity: 0.98;
        z-index: 999999;
        box-shadow: rgb(0 0 0/ 40%) 2px 2px 5px 0px;
    }


    .sub_menu li {
        text-align: left;
        font-size: 110%;
        margin-bottom: 5px;
        border-left: 2px solid #77c0f7;
    }


    .sub_menu li a {
        display: flex;
        align-items: center;
        justify-content: space-between;
    cursor: pointer;
    }

    .menu>li {
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-bottom: 1px solid #95dff8;
        letter-spacing: -0.03rem;
        line-height: 15px;
    }

    /* 2DepthTit */

    .sub_menu .tit {
        font-size: 120%;
        font-weight: 600;
        background-color: #ffffff;
    }

    .sub_menu .tit, .sub_menu .tit.menu_bg {
        font-size: 120%;
        font-weight: 600;
        border-left: 2px solid #ffffff;
        background-color: #ffffff;
    }

    .sub_menu .menu_bg {
        background-color: #f0f9ff;
    }

    .sub_menu .tit>i {
        position: absolute;
        top: 0;
        right: 0;
    }

    .sub_menu>li:first-child {
        margin-bottom: 20px;
        padding: 18px 10px 16px;
        box-shadow: rgb(78 170 233/ 100%) 0px 0px 4px 0px;
    }

    /* 2DepthMenu */

    .sub_menu li:nth-of-type(n+2) {
        margin: 5px 10px;
        padding:5px 10px
    }

    .sub_menu li.menu_bg {
        background-color: #f0f9ff;
        font-weight: normal
    }

    /* 2DepthMenuTit bgIcon */

    li:first-child > .sub_menu >li:first-child>i {
        width: 75px;
        height: 50px;
        background-position: -332px -154px;
    }


    li:nth-child(2) > .sub_menu >li:first-child>i {
        width: 75px;
        height: 50px;
        background-position: -405px -150px;
    }

    /* 3DepthMenu */
    .dropdown-container a {
        margin: 10px 0;
    }

    /* leftMenuEnd */


    /* contentHearder */

    i.logo {
        float:left;
        width: 150px;
        height: 25px;
        border-right: 2px solid var(--border-color-blue);
        margin-right: 10px;
        padding-right: 10px;
        background-size: 260%;
        vertical-align: middle;
        background-position: -60px -0px;
    }

    i.btn_fullscreen {
        width: 35px;
        height: 35px;
        background-color: #4dbff7;
        background-position: -1663px -73px;
        border-radius: 20px;
    }



    /* button */
    .top_icon_menu>button>span:hover {
        color:var(--bg-color-darkblue);
    }

    /*btn-으로 시작하는 모든 클래스 선택*/
    [class^="btn-"] { 
        font-weight : bold;
        border-radius : 20px;
    }
    /*sucess danger로 끝나는 모든 클래스*/
    [class$="sucess"]{
        color : green;
    }

    [class$="danger"]{
        color : red;
    }

    i.btn_search {
        width: 16px;
        height: 16px;
        background-position: -725px -267px;
    }

    i.btn_search.hover {
        width: 16px;
        height: 16px;
        background-position: -725px -247px;
    }

    i.btn_save {
        width: 16px;
        height: 16px;
        background-position: -746px -267px;
    }

    i.btn_save.hover {
        width: 16px;
        height: 16px;
        background-position: -746px -247px;
    }

    i.btn_add {
        width: 16px;
        height: 16px;
        background-position: -765px -267px;
    }

    i.btn_add.hover {
        width: 16px;
        height: 16px;
        background-position: -765px -247px;
    }

    i.btn_delete {
        width: 16px;
        height: 16px;
        background-position: -787px -267px;
    }

    i.btn_delete.hover {
        width: 16px;
        height: 16px;
        background-position: -787px -247px;
    }

    i.btn_download {
        width: 16px;
        height: 16px;
        background-position: -808px -267px;
    }

    i.btn_download.hover {
        width: 16px;
        height: 16px;
        background-position: -808px -247px;
    }

    i.btn_screenshot {
        width: 16px;
        height: 16px;
        background-position: -829px -267px;
    }

    i.btn_screenshot.hover {
        width: 16px;
        height: 16px;
        background-position: -829px -247px;
    }

    i.btn_print {
        width: 16px;
        height: 16px;
        background-position: -851px -267px;
    }

    i.btn_print.hover {
        width: 16px;
        height: 16px;
        background-position: -851px -247px;
    }

    i.btn_clr {
        width: 16px;
        height: 16px;
        background-position: -872px -267px;
    }

    i.btn_clr.hover {
        width: 16px;
        height: 16px;
        background-position: -872px -247px;
    }

    i.btn_help {
        width: 16px;
        height: 16px;
        background-position: -890px -267px;
    }

    i.btn_help.hover {
        width: 16px;
        height: 16px;
        background-position: -890px -247px;
    }

    i.btn_close {
        width: 16px;
        height: 16px;
        background-position: -910px -267px;
    }

    i.btn_close.hover {
        width: 16px;
        height: 16px;
        background-position: -910px -247px;
    }

    i.btn_back {
        width: 30px;
        height: 25px;
        background-position: -1210px -170px;
        position: absolute;
        left: 0;
        top: 6px;
    }

    i.btn_next {
        width: 30px;
        height: 25px;
        background-position: -1255px -170px;
        position: absolute;
        right: 0;
        top: 6px;
    }

    i.up {
        width: 14px;
        height: 16px;
        background-position: -1284px -171px;
        margin-left: 2px;
    }

    i.down {
        width: 14px;
        height: 16px;
        background-position: -1281px -185px;
        margin-left: 2px;
    }

    i.lamp_red {
        width: 24px;
        height: 25px;
        background-position: -1357px -172px;
        margin-left: 2px;
    }

    i.lamp_green {
        width: 24px;
        height: 25px;
        background-position: -1329px -172px;
        margin-left: 2px;
    }

    /* bgColor */


    .bg_ch_blue {	
        background-color: var(--bg-color-blue);
        width:100%
    }

    .bg_ch_darkblue {	
        background-color: var(--bg-color-darkblue);
        width:50%	/* 개발시 width삭제 */
    }

    .bg_ch_green {	
        background-color: var(--bg-color-green);
        width:100%
    }

    .bg_ch_darkgreen {	
        background-color: var(--bg-color-darkgreen);
        width:20%	/* 개발시 width삭제 */
    }

    .bg_ch_yellow{
        background-color: var(--bg-color-yellow);		
        width:100%
    }

    .bg_ch_darkyellow{
        background-color: var(--bg-color-darkyellow);		
        width:10%	/* 개발시 width삭제 */
    }

    .bg_ch_red{
        background-color: var(--bg-color-red);		
        width:100%
    }

    .bg_ch_darkred{
        background-color: var(--bg-color-darkred);		
        width:10%	/* 개발시 width삭제 */
    }



    .bg_ch_white{
        background-color: var(--bg-color-white);		
        width:100%
    }

    .bg_ch_lightwhite{
        background-color: var(--bg-color-lightwhite);		
        width:20%	/* 개발시 width삭제 */
    }

    .font_color_white{
        color: var(--font-color-white);
    }

    .bg_grad_blue{
        background-image: var(--bg-grad-blue);
    }

    /* fontcolor */
    .white,
    .white > span{
        color:#fff!important
    }


    /* 단위 
        Data와 단위 크기는 20%차이로 지정해준다
        공통 적용
    */

    .result_unit span:first-child {
        font-size: 180%;
        font-weight: 600;
    }
    .result_unit>span:last-child {
        margin-left: 2px;
        font-size: 160%;
        color: var(--font-color-darkblue);
    }


    /* chart  */

    .chartArea{
        height: 300px;
        display: flex;
        gap: 10px;
    }

    .chartArea:nth-child(5){
        height: 200px;
        margin-bottom: 10px;
    }
    .chartArea:nth-child(5) .chart_group {
        width: calc((100% - 10px) / 2);
    }

    .chart_group {
        width: calc((100% - 30px) / 4);
        height:100%;
        margin-right:10px;
        float:left;
    }

    .chart_group:last-child {
        margin-right:0px;
    }


    .chart_group >.chart_pie,
    .chart_group >.chart_bar, 
    .chart_group >.chart_line,
    .chart_group >.chart_scatter,
    .chart_group >.bar_group,
    .chart_group .round_box {
        width: 100%;
        height: 100%;
        border-radius: 5px;
        box-shadow: rgb(0 0 0 / 40%) 2px 2px 5px 0px;
    }

    .chart_group >.bar_group {
        padding:0 10px 10px;
        display: flex;
        flex-direction: column;
    }

    .chart_group >.bar_group .bar_wrap {    
        border-radius: 4px;
        background-color: #fff;
        padding:10px;
        flex: 1;
    }


    .chart_group >.chart_pie > h3,
    .chart_group >.chart_bar > h3,
    .chart_group >.chart_line > h3,
    .chart_group >.chart_scatter > h3,
    .chart_group >.bar_group > h3{
        width: 100%;
        border-top-left-radius: 5px;	
        border-top-right-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center
    }

    .chart_group >.chart_pie > h3,
    .chart_group >.chart_bar > h3,
    .chart_group >.chart_line > h3,
    .chart_group >.chart_scatter > h3
    {
        background-color: var(--bg-color-blue);
    }


    .chart_group >.chart_pie >.chart,
    .chart_group >.chart_bar >.chart{
        padding: 10px;
        height: 80%;
    }


    .chart_group > .bar_group > h3{
        color:#fff;
    }

    .bar_wrap > .chart_horizon_bar{
        height:calc((100% - 20px)/3);
        margin-bottom: 10px;
        display: flex;
        align-items: center;
    }

    .bar_wrap >.chart_horizon_bar ul{
        width:100%;
        height:100%;
    }

    .bar_wrap >.chart_horizon_bar ul li{
        float: left;
        height: 100%;
        font-size: 110%;
        font-weight: 600;
        display: flex;
        align-items: center;
    }

    .bar_wrap > .chart_horizon_bar:last-child{
        margin-bottom: 0px;
    }


    .bar_wrap >.chart_horizon_bar ul li:first-child {
        width: 100px;
    }

    .bar_wrap >.chart_horizon_bar ul li:nth-child(2) {
        width: calc(100% - 230px);
    }

    .bar_wrap >.chart_horizon_bar ul li:last-child {
        width: 130px;
        justify-content: flex-end;
    }

    .chart_horizon_bar .chart,
    .chart_horizon_bar .chart > div {
        height: 100%!important;
        border-radius: 50px;
    }


    /* height 값은 페이지별 유연하게 적용한다
        eChart JS에서 차트 속성 정의
    */

    .chart_group >.chart_pie > h3,
    .chart_group >.chart_bar > h3,
    .chart_group >.chart_line > h3,
    .chart_group >.chart_scatter > h3,
    .chart_group >.bar_group > h3 {
        height: 20%;
    }

    .chart_group .chart,
    .chart_group .bar_wrap
    {
        height: 80%;
        width:100%
    }


    .chart_group .chart > div,
    .chart_group .chart > div > div{
        height: 100%;
        border-radius: 100px;
    }

    .chart_group .chart > div,
    .chart_group .chart > div > div:last-child{
        height: auto; 
    }


    .chart_group .chart_bar_outit .chart > div,
    .chart_group .chart_bar_outit .chart > div > div:last-child{
        height: 100%; 
    }


    /* 타이틀 + barArea */
    .chart_bar_outit {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .chart_bar_outit h4 {
        margin-bottom: 10px;
    }

    .round_box {
        flex: 1;
        padding: 10px;
    }

    .round_box .chart{
        height: 100%;
        display: flex;
        align-items: center;
    }

    .round_box .chart .bg_ch_white{
        width:85%;
        float:left
    }

    .round_box .chart .bg_ch_white > div{
        height:100%;
    }


    .round_box .chart .result_unit{
        width:15%;
        float:right;
        text-align: right;
    }

    /* result */

    .result_area{
        height:calc(10% - 10px);
        margin-bottom:10px;
        display: flex;
        flex-direction: column;
        gap:10px
    }

    .result_area:nth-of-type(5){
        height:calc(15% - 10px);
    }

    .result_area .result .txt_box{
        width:calc(100% / 3);
        display: flex;
        align-items: center;
    }

    .result_area:nth-of-type(6) .result > *,
    .result_area .result .txt_box > *{
        display: inline-block;
        flex: 1;
    }

    .result_area .result > p,
    .result_area .result .txt_box > p{
        text-align: right;
    }

    .result_area .result .txt_box > h4{
        color:var(--font-color-darkblue)
    }

    .result_area:nth-of-type(6) .result,
    .result_area .result .txt_box{
        padding:0 10px
    }

    .result_area .result{
        width:100%;
        height:100%;
        margin-right:10px;
        display: flex;
        align-items: center;
        border-radius: 5px;
        box-shadow: rgb(0 0 0 / 40%) 2px 2px 5px 0px;
    }

    .result_area > h4{
        margin-bottom: 5px;
    }


    .result_area .bg {
        display: flex;
        flex-direction: column;
        padding:10px;
        background-image:var(--bg-grad-blue) ;
    }

    .result_area .bg>h4{
        color:#fff;
        margin-bottom: 5px;
        text-align: left;
        width: 100%;
    }


    .result_area .bg .box {
        padding: 10px;
        width: 100%;
        height: 100%;
        background-color: var(--bg-color-lightwhite);
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center
    }

    .result_area .result .h4{
        width: 40%;
        height: 100%;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .result_area .result .h4{
        background-image: var(--bg-grad-darkblue);
    }

    .result_area .result:not(.board) .h4{
        background-color: var(--bg-color-darkblue);
        background-image: url();
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .result_area:nth-of-type(n+3):nth-of-type(-n+4) .result .result_unit{
        width: 60%;
        text-align: right;
        padding-right:10px;
    }

    .result:last-child{
        margin-right:0px;
    }


    .board{
        border:1px solid var(--border-color-blue)
    }


    .result_group{
        height: calc(15% - 10px);
        margin-bottom: 10px;
    }

    .result_group .result {
        height: 100%;
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        box-shadow: rgb(0 0 0 / 40%) 2px 2px 5px 0px;
    }


    .result_group >.result > h3{
        height: calc(100% / 4);
        width: 100%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--bg-color-darkblue);
        color: var(--font-color-white);
    }

    .result_group ul{
        height: calc(100% / 4);
        flex:1;
        background-color: var(--bg-color-even);
    }
    .result_group ul:last-child{	
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .result_group ul li{
        float:left;
        padding: 0 10px;
        display: flex;
        align-items: center;
        height: 100%;
        width:50%
    }

    .result_group ul li:last-child{
        justify-content: flex-end;
    }

    .result_group ul:nth-child(odd){
        background-color: var(--bg-color-odd);
    }

    /* table 타입별 적용 */
    .table_group {
        height: calc(20% - 10px);
        border-radius: 5px;
        box-shadow: rgb(0 0 0 / 40%) 2px 2px 5px 0px;
        margin-bottom: 50px;
    }

    .table_group .tit_area > h4 {
        color: var(--font-color-white);
    }

    .table_group .tit_area {
        height: 20%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        padding: 5px 10px;
        background-color:var(--bg-color-darkblue);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .table_group .table_area {
        width: 100%;
        height: 80%;
        padding: 10px;
    }

    .table_group .table_area table {
        height: 100%;
        border: 1px solid var(--border-table-color);
    }


    .table_group .table_area table th, 
    .table_group .table_area table td {
        border-bottom: 1px solid var(--border-table-color);
        border-right: 1px solid var(--border-table-color);
        text-align: center;
    }

    .table_group .table_area table th {
        background-color:var(--bg-table-thead-color);
        font-weight: 600;
    }


    .table_group .table_area table td.sth {
        background-color:var(--bg-table-tbody-sth-color);
    }

    /* table type _ 01 */

    .table_group .table_area.type_01 table thead {
        height:40%
    }


    .table_group .table_area.type_01 table td {
        height:calc(60% / 3);
    }


    .table_group .table_area.type_01 table th.sth {
        background-color:var(--bg-table-thead-sth-color);
    }



    /* table type _ 02 */

    .table_group .table_area.type_02 table thead,
    .table_group .table_area.type_02 table td {
        height:calc(100% / 4);
    }


    .table_group .table_area.type_02 table th.sth {
        background-color:var(--bg-table-thead-sth-color);
    }



    /* table type _ 03 */

    .table_group .table_area.type_03 table thead,
    .table_group .table_area.type_03 table td {
        height:calc(100% / 4);
    }


    /* tapArea 
        z-index 설정 지키기
    */

    .tabArea {
        height:20%;
    }
    

    .tabArea .tab {
        overflow: hidden;
        height: 20%;
        padding-top: 5px;
    }
    
    .tabArea .tab button {
        position: relative;
        display: inline-block;
        width: 120px;
        height: 34px;
        vertical-align: top;
        text-decoration: none;
        border-radius: 4px 4px 0 0;
        text-align: center;
        cursor: pointer;
        background-color: #fff;
        border: 0px solid #4A89DC;
        border-bottom: 0;
        background-color: inherit;
        transition: 0.3s;
        border: 1px solid var(--font-color-darkgray);
        border-bottom: 1px solid #fff;
        color:#9ea4aa;
        z-index: 9;
    }
    
    .tabArea .tab button:hover {
        background-color: #fff;	
        box-shadow: rgb(0 0 0 / 40%) 2px 0px 5px 0px, inset 0px 4px 0px 0px #2dc5f4;
        border: 1px solid var(--border-color-blue);	
        color: var(--font-color-darkblue);
        border-bottom: 1px solid #fff;
        padding-top:2px;
        font-weight: 600;
        position: relative;
        z-index: 999;
    }
    
    .tabArea .tab button.active {
        background-color: #fff;
        box-shadow: rgb(0 0 0 / 40%) 2px 0px 5px 0px, inset 0px 4px 0px 0px #2dc5f4;
        border: 1px solid #2ac5f5;
        border-bottom: 1px solid #fff;
        color: var(--font-color-darkblue);
        padding-top:2px;
        font-weight: 600;
        position: relative;
        z-index: 999;
    }
    
    .tabArea .tabcontent {
        height:80%;
        display: none;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        border-top-right-radius: 5px;
        border-top-left-radius: 0px;
        padding: 10px;
        box-shadow: rgb(0 0 0 / 40%) 2px 2px 5px 0px;
        margin-top: -1px;
        background-color: #fff;
        border: 1px solid var(--border-color-blue);
        z-index: 99;
        position: relative;
    }

    /* checkBox design */
    /* Customize the label (the container) */
    .inputwrap {
        display: inline-block;
        position: relative;
        padding-left: 20px;
        cursor: pointer;
        margin-right: 20px;
        margin-bottom: 20px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    
    /* Hide the browser's default checkbox */
    .inputwrap input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
    
    /* Create a custom checkbox */
    input[type=checkbox] + .checkmark {
        position: absolute;
        left: 0;
        height: 16px;
        width: 16px;
        background-color: #eee;
    }

    /* Create a custom radio button */
    input[type=radio] + .checkmark {
        position: absolute;
        left: 0;
        height: 16px;
        width: 16px;
        background-color: #eee;
        border-radius: 50%;
    }
    
    /* On mouse-over, add a grey background color */
    .inputwrap input:checked ~ .checkmark {
        background-color: #2196F3;
    }
    
    /* When the checkbox is checked, add a blue background */
    
    .inputwrap input ~ .checkmark {
        background-color: #ccc;;
    }
    
    
    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }
    
    /* Show the checkmark when checked */
    .inputwrap input:checked ~ .checkmark:after {
        display: block;
    }
    
    .inputwrap input[type=checkbox]+.checkmark:after {
        left: 6px;
        top: 2px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    /* Style the indicator (dot/circle) */
    .inputwrap input[type=radio] +.checkmark:after {
        top: 4px;
        left: 4px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: white;
    }
    
    /* selectbox design */
    /* The container must be positioned relative: */
    .custom-select {
        position: relative;
        height:100%;
    }
    
    .custom-select select {
        display: none; /*hide original SELECT element: */
    }
    
    .select-selected {
        border-color:var(--border-table-color);
    }
    
    /* Style the arrow inside the select element: */
    .select-selected:after {
        position: absolute;
        content: "";
        top: 10px;
        right: 10px;
        width: 0;
        height: 0;
        border: 6px solid transparent;
        border-color:var(--border-select-arrow) transparent transparent transparent;
    }
    
    /* Point the arrow upwards when the select box is open (active): */
    .select-selected.select-arrow-active:after {
        border-color:var(--border-select-arrow) transparent transparent transparent;
        top: 10px;
    }
    
    /* style the items (options), including the selected item: */
    .select-selected {
        position: relative;
        padding: 0 10px;
        border: 1px solid var(--border-select-gray);
        /* border-color: transparent transparent rgba(0, 0, 0, 0.5) transparent; */
        cursor: pointer;
        z-index: 99;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .select-items div {
        height: 28px;
        padding: 0 10px;
        border: 1px solid var(--border-table-color);
        border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
        border-right: 1px solid var(--border-select-gray);
        border-left: 1px solid var(--border-select-gray);
        cursor: pointer;
        display: flex;
        align-items: center;
            border-top: 0px solid #ccc;
        
    }

    
    
    /* Style items (options): */
    .select-items {
        position: absolute;
        background-color: var(--border-select-items);
        background: #f8f8f8;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 999;
        height: 141px;
        overflow: auto;
        border-right: 1px solid var(--border-select-gray);
        border-bottom: 1px solid var(--border-select-gray);
    }
    
    /* Hide the items when the select box is closed: */
    .select-hide {
        display: none;
    }
    
    .select-items div:hover, .same-as-selected {
        background-color: rgba(0, 0, 0, 0.1);
    }

    .selectArea {
        height: 28px;
    }

    /* calendar */
    .calendarArea{
        margin:20px 0;
        height:28px;
    }

    .calendarArea form, 
        .inputbox{
            height:100%
        }

    .w-input[input-type=datepicker][date-format=date] {
        background: url(../../images/calendar/icon_cal.png) right center no-repeat;
        background-color: #ffffff;
        letter-spacing: 0rem;
    }


    /* searchArea */
    .searchArea{
        height: 25%;
        padding: 10px;
        margin-top:10px;
        border: 1px solid var(--border-color-blue);
    }

    .searchArea ul {
        width: 100%;
    }


    .searchArea >ul li {
        float:left;
        margin-right: 10px;
        display: flex;
        height:100%
    }


    .searchArea >ul li:last-child {
        margin-right: 0!important;
    }

    /* li 갯수에 다른 css 적용 _ 검색영역에서 열 */
    .searchArea >ul li:first-child:nth-last-child(4), 
    .searchArea >ul li:first-child:nth-last-child(4) ~ li {
        width: calc(( 100% - 30px)/4);
    }

    .searchArea >ul li:first-child:nth-last-child(3), 
    .searchArea >ul li:first-child:nth-last-child(3) ~ li {
        width: calc(( 100% - 20px)/3);
    }

    .searchArea >ul li:first-child:nth-last-child(2), 
    .searchArea >ul li:first-child:nth-last-child(2) ~ li {
        width: calc(( 100% - 10px)/2);
    }

    .searchArea >ul li:first-child:nth-last-child(1), 
    .searchArea >ul li:first-child:nth-last-child(1) ~ li {
        width: 100%;
    }

    /* last ul li관련 속성정의 */

    .searchArea >ul:last-child li:first-child:nth-last-child(1), 
    .searchArea >ul:last-child li:first-child:nth-last-child(1) ~ li {
        width: calc((100% - 10px) / 2);
    }

    .searchArea >ul:last-child li:first-child:nth-last-child(3), 
    .searchArea >ul:last-child li:first-child:nth-last-child(3) ~ li {
        width: calc((100% - 30px) / 4);
    }


    /* 두번째 이후로 선택 */
    .searchArea ul:nth-child(n+2) {
        margin-top: 5px;
    }

    /* ul갯수에 따른 css적용_검색영역에서 행 */


    .searchArea >ul:first-child:nth-last-child(1), 
    .searchArea >ul:first-child:nth-last-child(1) ~ ul {
        height:100%
    }

    .searchArea >ul:first-child:nth-last-child(2), 
    .searchArea >ul:first-child:nth-last-child(2) ~ ul {
        height:calc((100% - 5px) / 2);
    }

    .searchArea >ul:first-child:nth-last-child(3), 
    .searchArea >ul:first-child:nth-last-child(3) ~ ul {
        height:calc((100% - 10px) / 3);
    }

    .searchArea >ul:first-child:nth-last-child(4), 
    .searchArea >ul:first-child:nth-last-child(4) ~ ul {
        height:calc((100% - 15px) / 4);
    }

    .searchArea >ul:first-child:nth-last-child(5), 
    .searchArea >ul:first-child:nth-last-child(5) ~ ul {
        height:calc((100% - 20px) / 5);
    } 

    /* li n개까지 속성 정의 열 4개  */

    .searchArea.n li {
        width:calc((100% - 30px) / 4);
        height:calc((100% - 30px) / 4);
            margin-bottom: 10px;
        margin-right: 10px;
    } 

    .searchArea.n li:nth-child(4n) {
        margin-right:0
    }

    .searchArea.n li:first-child:nth-last-child(16), 
    .searchArea.n li:first-child:nth-last-child(12) ~ li { 
            height: calc((100% - 30px) / 4);
            margin-bottom: 5px;
    }

    /* 마지막 남는 열에 따라서 삭제 */
    .searchArea.n li:first-child:nth-last-child(16), 
    .searchArea.n li:nth-last-child(-n+4) ~ li{ 
            margin-bottom: 0px;
    }

    .searchArea.n li:first-child:nth-last-child(15), 
    .searchArea.n li:nth-last-child(-n+3) ~ li{ 
            margin-bottom: 0px;
    }
    .searchArea.n li:first-child:nth-last-child(14), 
    .searchArea.n li:nth-last-child(-n+2) ~ li{ 
            margin-bottom: 0px;
    }

    .searchArea.n li:last-child{ 
            margin-bottom: 0px;
    }


    .searchArea li>.tit {
        background-color: #d5f3fd;
        color: #2cc5f4;
        font-weight: 600;
        width: 100px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center
    }

    .searchArea li .custom-select {
            padding: 0px 0px 0px 10px;
            flex: 1;
    }

    .searchArea:last-child {
        border: 1px solid #13a6e8;
        padding: 10px;
    }

    /* GridArea */

    .gridArea{
        height: 25%;
        margin:10px 0 0 0
    }
    #grid_wrap{
        width:100%!important;
        height:100%!important;
    }

    #grid_wrap > .aui-grid{
        width:100%;
        height:100%;
        border: 1px solid var(--border-table-color);
    }

    /* gridArea last td border zero set */
    .aui-grid-header-panel .aui-grid-table tr td:last-child,
    .aui-grid-body-panel .aui-grid-table tr td:last-child{
        border-right:0px solid #ccc;
    }

    .aui-grid-header-panel .aui-grid-table tr td{
            background: var(--bg-table-thead-color);
        border-bottom: 1px solid var(--border-table-color);
        border-right: 1px solid var(--border-table-color);
    }
    .aui-grid-header-panel .aui-grid-table tr td span{
        font-weight:600
    }

    .aui-grid-body-panel .aui-grid-table tr td {
        border-bottom: 1px solid var(--border-table-color);
        border-right: 1px solid var(--border-table-color);
    }

    .aui-grid-left-main-panel .aui-grid-header-panel .aui-grid-table tr td:last-child{
            background: var(--bg-table-thead-color);
        font-weight:600
    }

    .aui-grid-left-main-panel .aui-grid-header-panel .aui-grid-table tr td:last-child > div{
        font-weight:600
    }

    /* loading spinner */

    .loadingArea{
        width:100%;
        background-color:#2093d4;;
    }

    @keyframes rotate-loading {
                0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
                100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
            }

            @-moz-keyframes rotate-loading {
                0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
                100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
            }

            @-webkit-keyframes rotate-loading {
                0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
                100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
            }

            @-o-keyframes rotate-loading {
                0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
                100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
            }

            @keyframes rotate-loading {
                0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
                100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
            }

            @-moz-keyframes rotate-loading {
                0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
                100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
            }

            @-webkit-keyframes rotate-loading {
                0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
                100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
            }

            @-o-keyframes rotate-loading {
                0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
                100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
            }

            @keyframes loading-text-opacity {
                0%  {opacity: 0}
                20% {opacity: 0}
                50% {opacity: 1}
                100%{opacity: 0}
            }

            @-moz-keyframes loading-text-opacity {
                0%  {opacity: 0}
                20% {opacity: 0}
                50% {opacity: 1}
                100%{opacity: 0}
            }

            @-webkit-keyframes loading-text-opacity {
                0%  {opacity: 0}
                20% {opacity: 0}
                50% {opacity: 1}
                100%{opacity: 0}
            }

            @-o-keyframes loading-text-opacity {
                0%  {opacity: 0}
                20% {opacity: 0}
                50% {opacity: 1}
                100%{opacity: 0}
            }
            .loading-container,
            .loading {
                height: 100px;
                position: relative;
                width: 100px;
                border-radius: 100%;
            }


            .loading-container { margin: 40px auto }

            .loading {
                border: 2px solid transparent;
                border-color: transparent #fff transparent #FFF;
                -moz-animation: rotate-loading 1.5s linear 0s infinite normal;
                -moz-transform-origin: 50% 50%;
                -o-animation: rotate-loading 1.5s linear 0s infinite normal;
                -o-transform-origin: 50% 50%;
                -webkit-animation: rotate-loading 1.5s linear 0s infinite normal;
                -webkit-transform-origin: 50% 50%;
                animation: rotate-loading 1.5s linear 0s infinite normal;
                transform-origin: 50% 50%;
            }

            .loading-container:hover .loading {
                border-color: transparent #E45635 transparent #E45635;
            }
            .loading-container:hover .loading,
            .loading-container .loading {
                -webkit-transition: all 0.5s ease-in-out;
                -moz-transition: all 0.5s ease-in-out;
                -ms-transition: all 0.5s ease-in-out;
                -o-transition: all 0.5s ease-in-out;
                transition: all 0.5s ease-in-out;
            }

            #loading-text {
                -moz-animation: loading-text-opacity 2s linear 0s infinite normal;
                -o-animation: loading-text-opacity 2s linear 0s infinite normal;
                -webkit-animation: loading-text-opacity 2s linear 0s infinite normal;
                animation: loading-text-opacity 2s linear 0s infinite normal;
                color: #ffffff;
                font-family: "Helvetica Neue, "Helvetica", ""arial";
                font-size: 10px;
                font-weight: bold;
                margin-top: 45px;
                opacity: 0;
                position: absolute;
                text-align: center;
                text-transform: uppercase;
                top: 0;
                width: 100px;
            }
            
            
            /* 다각형 svg */
    
            
    .svg {
        width: calc(( 100% - 10px)/2);
        margin-right: 10px;
        float: left;
        height: 200px;
        }

        .chart_group.svg {
            margin-right: 0;
        }

    .svg.result {
        border: 1px solid var(--border-blue);
        position: relative;
    }

    span.BorderTopBottom:before {
        content: "";
        position: absolute;
        width: 20px;
        height: 3px;
        top: -2px;
        left: -2px;
        background: var(--border-blue);
        transition: all 0.5s ease;
    }

    span.BorderTopBottom:before {
        content: "";
        position: absolute;
        width: 20px;
        height: 3px;
        top: -2px;
        left: -2px;
        background: var(--border-blue);
        transition: all 0.5s ease;
    }

    span.BorderTopBottom:after {
        content: "";
        position: absolute;
        width: 20px;
        height: 3px;
        bottom: -2px;
        right: -2px;
        background: var(--border-blue);
        transition: all 0.5s ease;
    }

    span.BorderLeftRight:before {
        content: "";
        position: absolute;
        top: -2px;
        left: -2px;
        width: 3px;
        height: 20px;
        background: var(--border-blue);
        transition: all 0.5s ease;
    }

    span.BorderLeftRight:before {
        content: "";
        position: absolute;
        top: -2px;
        left: -2px;
        width: 3px;
        height: 20px;
        background: var(--border-blue);
        transition: all 0.5s ease;
    }

    span.BorderLeftRight:after {
        content: "";
        position: absolute;
        bottom: -2px;
        right: -2px;
        width: 3px;
        height: 20px;
        background: var(--border-blue);
        transition: all 0.5s ease;
    }

    .svg.result .bg {
        width: 100%;
        height: 100%;
        padding: 10px;
        position: absolute;
        left: 0;
        top: 0;
    }

    .svg.result .sub_tit {
        height: 28px;
        padding-left: 5px;
        color: var(--font-white);
        font-weight: 600;
        font-size: 120%;
    }

    .svg.result .bg .small_bg {
        height: calc(100% - 28px);
        background-color: var(--bg-data-blue);
        display: flex;
        align-items: center;
        width: 100%;
    }

    .svg.result .bg .result_unit {
        width: 100%;
        text-align: center;
    }

    .svg.result .bg .result_unit>span:first-child {
        font-size: 280%;
        font-weight: 600;
    }

    .svg.result .bg .result_unit>span:last-child {
        color: var(--font-black);
        font-size: 260%;
        margin-left: 2px;
    }

    .svg.chart_bar {
        width:100%;
        height: 200px;
        margin-bottom: 10px;
        position: relative;
        border: 1px solid var(--border-blue);
        background-color: var(--bg-chart);
    }

    .svg.chart_bar>.bg {
        height: calc(100% - 40px);
        width: 100%;
        padding: 0px 10px;
        display: flex;
        align-items: center;
    }

    .svg .tit {
        font-size: 120%;
        width: 10%;
        color: var(--font-yellow);
    }

    .svg.chart_bar>.bg .chart {
            width: calc(90% - 70px);
        background-color: var(--bg-bar-pkg);
        height: 60%;
        border-radius: 50px;
        float: left;
    }

    .svg.chart_bar>.bg .result_unit {
        width: 70px;
        font-weight: 600;
        color: #fff;
        text-align: right;
    }

    .svg .chart_pie {
        border-style: none;
    width: 100%;
        height: 100%;
        background: none;
        border: none;
        outline: none;
        position: relative;
        box-shadow: rgb(0,0, 0, 0) 0px 0px 0px 0px;
    }

    .svg .chart_pie:before {
        content: "";
        width: calc(100% - 25px);
        height: calc(100% - 25px);
        display: block;
        border-top: 1px solid var(--border-blue);
        border-right: 1px solid var(--border-blue);
        position: absolute;
        right: 0;
        top: 0;
    }

    .svg .chart_pie span {
        display: block;
    }

    .svg .chart_pie span.polygon_line:before {
        content: "";
        width: 25px;
        height: 1px;
        background: var(--border-blue);
        position: absolute;
        left: -4px;
        top: 8px;
        transform: rotate(
    -46deg
    );
    }

    .svg .chart_pie span.polygon_line:before {
        content: "";
        width: 25px;
        height: 1px;
        background: var(--border-blue);
        position: absolute;
        left: -4px;
        top: 8px;
        transform: rotate(
    -46deg
    );
    }

    .svg .chart_pie span.polygon_line:after {
        content: "";
        width: 25px;
        height: 1px;
        background: var(--border-blue);
        position: absolute;
        right: -4px;
        bottom: 9px;
        transform: rotate(
    -46deg
    );
    }

    .svg .chart_pie span.polygon_img:before {
        content: "";
        width: 37px;
        height: 37px;
        background: url(../../images/bg_color_poly_top.svg);
        background-repeat: no-repeat;
        position: absolute;
        left: -1px;
        top: -1px;
        z-index: 99;
    }

    .svg .chart_pie span.polygon_img:after {
        content: "";
        width: 37px;
        height: 37px;
        background: url(../../images/bg_color_poly_bottom.svg);
        background-repeat: no-repeat;
        position: absolute;
        right: -1px;
        bottom: -2px;
        z-index: 99;
    }

    .svg .chart_pie .tit{
            padding: 5px;
        text-align: center;
        height: 36px;
        width: 100%;
        font-size: 130%;
        font-weight: 600;
        border-bottom: 1px solid var(--border-blue);
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--bg-chart);
    }
    .svg .chart_pie>.chart {
        height: calc(100% - 36px);
        background-color: var(--bg-chart);
            padding: 10px;
    }


    /* popup */
    #popWarp {
        width: 600px;
        height: 300px;
        background: #fff;
        position: relative;
        border: 1px solid var(--border-blue);
        border-radius: 10px;
        z-index: 99;
        display: none;
    text-align:center;
    }

    #popWarp>.pop_tit {
        height: 50px;
        width: 100%;
        background-color: var(--bg-color-darkgreen);
        color: var(--bg-body);
        width: 100%;
        padding: 10px;
        margin: 0;
        border-radius: 10px 10px 0 0;
        border: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #popWarp>.pop_tit > span{
        color:#ffffff
    }

    #popWarp>.pop_tit > h6 {
        font-size: 120%;
        color: #fff;
        width: calc(100% - 15px);
    }

    #popWarp>.pop_tit a {
        font-size: 200%;
        color: #fff;
    }

    #popWarp>.pop_contents {
        height: calc(100% - 100px);
        border: 1px solid var(--popup-grid-border);
        padding: 10px;
    }


    #popWarp>.pop_button {	
        height: 50px;
        background-color: var(--bg-color-blue);
        padding: 10px;
        border-radius: 0 0 10px 10px;
        display: flex;
        align-items: center;
    }

    #popOpenBtn,
    #popCloseBtn {
        cursor: pointer;
    }

    #popup_mask { /* 팝업 배경 css */
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        display: none;
        background-color: #000;
        opacity: 0.8;
    }

    #popWarp>.pop_button > button{
        margin-right:20px;
    }

    button > i+span{
        margin-left:2px;
    }


    /* 접기 펼치기 */
    .folding_wrap{
        height:600px;
        width:500px;
        border: 1px solid var(--border-blue);
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .folding_content {
        border: 1px solid var(--border-blue);
        padding: 10px;
        flex: 1;
    }

    .folding_close,
    .folding_open {
        margin: 10px 0;
        border-top: 1px solid var(--border-blue);
        padding-top: 10px;
        text-align: center;
    }

    .folding_wrap_txt {
        background: var(--bg-body);
        color: var(--font-blue);
        -webkit-transition:width 2s, height 2s, background-color 2s, -webkit-transform 2s;
        transition:width 2s, height 2s, background-color 2s, transform 2s;
    }
    .folding_wrap.open > .folding_close.show {
        border-top: 1px solid var(--border-blue);
        padding-top: 10px;
    }

    .folding_wrap > .folding_open{
        border-top: 0px solid var(--border-blue);
        padding-top: 0px;
    }

    .folding_open{
        display: none;
    }

    .hide{
        display: none;
    }
    .show{
        display: block;
    }


    /* 아코디언 */    
    .accordian h6{
        font-size: 100%;
        padding: 10px;  
        border: 1px solid var(--border-blue);
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .accordian li{
       margin-bottom:10px
    }

     /** 현재 활성화된 요소에 적용할 배경이미지 지정 */
     .selected {
        background: #2288dd !important;
        color: #fff !important;      
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        
        /*그라디언트 지정*/
        background: linear-gradient(top, #6bb2ff 0%, #2288dd 100%) !important;
        background: -moz-linear-gradient(top, #6bb2ff, #2288dd) !important; 
        background: -webkit-gradient(linear, left top, left bottom, from(#6bb2ff), to(#2288dd)) !important;  
        -webkit-transition:width 2s, height 2s, background-color 2s, -webkit-transform 2s;
        transition:width 2s, height 2s, background-color 2s, transform 2s;     
    }
    
    /** 내용 영역 */
    .accordian .content {
        width:100%;
        margin: 0;
        border:1px solid var(--border-blue);
        padding: 10px;
        overflow-y: auto;
        border-top: 0px solid var(--border-blue);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        -webkit-border-bottom-left-radius: 5px;
        -webkit-border-bottom-right-radius: 5px;
        -webkit-transition:width 2s, height 2s, background-color 2s, -webkit-transform 2s;
        transition:width 2s, height 2s, background-color 2s, transform 2s;
        
    }


    /* td 자동 번호삽입 */
    .colinfo{
        border:1px solid var(--border-blue);
        border-left:0px solid var(--border-blue);
    }
    .colinfo tr td{
        border-left:1px solid var(--border-blue);
        padding: 10px;
        text-align: center;
    }
    .colinfo tr td:nth-child(odd){
        background-color: var();
    }
    .colinfo tr td:last-child{
        border-left:1px solid var(--border-blue);
    }

    [class^=colinfo] tr{ 
        /* counter-reset: mycounter; */
        counter-reset: mycounter 2; /* 2번까지 reset 3번부터 시작 */
    }
    [class^=colinfo] tr>td:before {  
        counter-increment: mycounter;
        content: counter(mycounter) "열";
    } 
    [class^=colinfo] tr>td:first-child {  
        color:var(--bg-body)
    }

    /* margin 대신 gap으로 균일하게 영역 만들기 */

    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 10px 20px;
      }
    .grid-container > div {
        border: 1px solid var(--border-table-color);
        background-color:var(--bg-data-blue);
      }

    /* print attr */

    page {
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
    }
    page[size="A4"] {  
    width: 21cm;
    height: 29.7cm; 
    }
    page[size="A4"][layout="landscape"] {
    width: 29.7cm;
    height: 21cm;  
    }
    page[size="A3"] {
    width: 29.7cm;
    height: 42cm;
    }
    page[size="A3"][layout="landscape"] {
    width: 42cm;
    height: 29.7cm;  
    }
    page[size="A5"] {
    width: 14.8cm;
    height: 21cm;
    }
    page[size="A5"][layout="landscape"] {
    width: 21cm;
    height: 14.8cm;  
    }
    @media print {
    body, page {
        margin: 0;
        box-shadow: 0;
    }
    }

    @media print {
        .page-divide {
                page-break-after: always; 
        }
    }

    /* 
        .page-divide 라는 클래스를 준 요소 뒤에는 언제나 페이지를 분할하도록 하는 CSS 입니다. 
    */

    table, figure, .sector {
        page-break-inside: avoid;
    }

    /* 
        table, figure 또는 sector 라고 클래스를 지정해 준 요소는 페이지 때문에 끊기지 않도록 처리해주는 구문입니다. 이렇게 지정한 요소가 만약 A4 용지 단위로 프린트물이 나올 때 중간에 걸리게 되면 통째로 그 다음 장으로 넘어가게 처리해줍니다.
    */